.theme_1 {
    --main_bg: hsl(222, 26%, 31%);
    --toggle_bg: hsl(223, 31%, 20%);
    --screen_bg: hsl(224, 36%, 15%);

    --pri_bg: hsl(225, 21%, 49%);
    --pri_shadow: hsl(224, 28%, 35%);
    --sec_bg: hsl(6, 63%, 50%);
    --sec_shadow: hsl(6, 70%, 34%);
    --ter_bg: hsl(30, 25%, 89%);
    --ter_shadow: hsl(28, 16%, 65%);

    --header_text: white;
    --keypad_text: hsl(221, 14%, 31%);
    --keypad_acc_text: white;
    --equal: white;
}

.theme_2 {
    --main_bg: hsl(0, 0%, 90%);
    --toggle_bg: hsl(0, 5%, 81%);
    --screen_bg: hsl(0, 0%, 93%);

    --pri_bg: hsl(185, 42%, 37%);
    --pri_shadow: hsl(185, 58%, 25%);
    --sec_bg: hsl(25, 98%, 40%);
    --sec_shadow: hsl(25, 99%, 27%);
    --ter_bg: hsl(45, 7%, 89%);
    --ter_shadow: hsl(35, 11%, 61%);

    --header_text: hsl(60, 10%, 19%);
    --keypad_text: hsl(60, 10%, 19%);
    --keypad_acc_text: white;
    --equal: white;
}

.theme_3 {
    --main_bg: hsl(268, 75%, 9%);
    --toggle_bg: hsl(268, 71%, 12%);
    --screen_bg: hsl(268, 71%, 12%);

    --pri_bg: hsl(281, 89%, 26%);
    --pri_shadow: hsl(285, 91%, 52%);
    --sec_bg: hsl(176, 100%, 44%);
    --sec_shadow: hsl(177, 92%, 70%);
    --ter_bg: hsl(268, 47%, 21%);
    --ter_shadow: hsl(290, 70%, 36%);

    --header_text: hsl(52, 100%, 62%);
    --keypad_text: hsl(52, 100%, 62%);
    --keypad_acc_text: white;
    --equal: hsl(198, 20%, 13%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Spartan", sans-serif;
    background-color: var(--main_bg);
    color: var(--header_text);
}

.container {
    width: 88%;
    max-width: 430px; //stop increasing the width of the container at 430px
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .theme-toggle {
        display: flex;
        align-items: flex-end;

        & > p {
            padding-right: 2em;
            padding-bottom: 3px;
        }

        .col {
            .theme-nums {
                display: flex;
                justify-content: space-between;
                padding: 0 0.5em;

                & > p {
                    padding-bottom: 5px;
                }
            }

            .switch-toggle {
                float: left;
                background: var(--toggle_bg);
                height: 1.7em; //adjust size of toggle
                width: 4.95em;
            }

            .switch-toggle label:nth-child(2):nth-last-child(6),
            .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
            .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
                height: 1.65em; //adjust size and position of circle inside the toggle
                width: 1.7em;
                margin-top: 0.2em;
                margin-left: 0.1em;
            }

            .switch-ios.switch-toggle a {
                background-color: var(--sec_bg);
                border: 5px var(--toggle_bg) solid;
            }
        }
    }
}

.calculator-grid {
    width: 100%;
    padding-bottom: 1em;

    .output {
        font-size: 2rem;
        background: var(--screen_bg);
        padding: 0.8em;
        min-height: 2.8em;
        border-radius: 10px;
        margin: 0.5em 0 0.8em;
        text-align: right;
        word-wrap: break-word;
        word-break: break-all;
    }

    .keypad {
        padding: 1.8em 0.8em;
        border-radius: 14px;
        background: var(--toggle_bg);

        display: grid;
        grid-template-columns: repeat(
            4,
            calc(min(16vw, 81px))
        ); //increase the size of column based on vw until 81px
        grid-template-rows: repeat(5, 16vw);
        justify-content: center;
        column-gap: 0.8em;
        row-gap: 1.1em;

        .span-two {
            grid-column: span 2;
        }
    }

    button {
        font-family: "Spartan", sans-serif;
        font-size: 1.8rem;
        border: none;
        border-radius: 6px;
        color: var(--keypad_text);
        background-color: var(--ter_bg);
        padding-top: 0.3em;
        box-shadow: 0 4px var(--ter_shadow), 0 2px var(--ter_shadow),
            0 1px var(--ter_shadow);

        &:hover {
            filter: brightness(105%); //makes the button brighter
        }

        &:active {
            transform: translateY(1px); //pushes button down
            filter: brightness(95%); //makes the button darker
        }
    }

    .blue {
        background: var(--pri_bg);
        color: var(--keypad_acc_text);
        font-size: 1.1rem;
        box-shadow: 0 4px var(--pri_shadow), 0 2px var(--pri_shadow),
            0 1px var(--pri_shadow);
    }

    .red {
        background: var(--sec_bg);
        color: var(--equal);
        font-size: 1.1rem;
        box-shadow: 0 4px var(--sec_shadow), 0 2px var(--sec_shadow),
            0 1px var(--sec_shadow);
    }
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 460px) {
    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 0.6rem;
    }

    header .theme-toggle .col {
        .switch-toggle {
            height: 1.6em;
            width: 4em;
        }

        .switch-toggle label:nth-child(2):nth-last-child(6),
        .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
        .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
            height: 1.23em;
            width: 1.23em;
        }

        .switch-ios.switch-toggle a {
            margin-top: 0.17em;
            border: 2px var(--toggle_bg) solid;
        }
    }

    .calculator-grid {
        padding-bottom: 2.5em;
        .output {
            font-size: 2.3em;
            padding: 0.8em 1em;
            margin: 0.5em 0;
        }

        button {
            font-size: 1.6rem;
        }

        .blue {
            font-size: 0.9em;
        }

        .keypad {
            grid-template-rows: repeat(5, 45px);
            column-gap: 1.3em;
            row-gap: 1.5em;
        }
    }
}
